<!DOCTYPE html>
<html>
<head>
<title>Menu</title>
<link rel="stylesheet" href="/css/stileSezioneIngredienti.css" />
</head>
<body>
<header>
<div class="immagine">
	<a href="/"> <img src="/images/logonero2.png" alt="Logo"></a>
	</div>
	  <div class="header-links">
            <a href="/">Home</a>
            <a href="/logout"> Logout</a>
          
        </div>
</header>
	<h1>INGREDIENTI</h1>
	<div th:if="${ingredienti==null || ingredienti.isEmpty()}">Non ci sono ingredienti nel sistema</div>
	<ul>
		<li th:each="ingre : ${ingredienti}">
		<a>Ingrediente:</a>
			<a  th:text="${ingre.ingrediente.nome} ">Up!
				(2000)</a>
				<div>
				<a>Quantita:</a>
				<a  th:text="${ingre.quantita} ">Up!
				(2000)</a>
				<a>gr</a>
				</div>
		</li>
	</ul>
</body>
</html>