<!DOCTYPE html>
<html>

<head>
	<title>
		Nuova Ricetta
	</title>
	<link rel="stylesheet" href="/css/stileSezioneCuochi.css" />
</head>

<body>
	
	<header>
	<div class="immagine">
	<a href="/"> <img src="/images/logonero2.png" alt="Logo"></a>
	</div>
	  <div class="header-links">
            <a href="/">Home</a>
            <a href="/logout"> Logout</a>
          
        </div>
	</header>
	<h2>Aggiorna Cuoco</h2>
	<div th:if="${cuoco}">
    <h2 th:text="${cuoco.nome}"> nom cuoco</h2>
	<ul>
	<form th:action="@{/admin/aggiornaCuoco/{id}(id=${cuoco.id})}" method="POST" th:object="${cuoco}">
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		
		<li>
		<div>
			<a>Anno:</a> <span><input type="text" name="nuovoAnno" placeholder="Nuovo anno" th:value="${cuoco.year}" /></span>
		    <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}">
		    </span>
		</div>
		</li>
		<li>
		<div>
			<a>URL immagine:</a> <span><input type="text" name="nuovoImmagine" placeholder="Nuovo immagine" th:value="${cuoco.immagine}" /></span>
		</div>
	   </li>
		<li>
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
		</li>
		</ul>	
	</form>
</body>

</html>