<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile2.css" />
</head>

<body>
	<header>
	
	</header>
	<h1>SiwFood</h1>
	
	<div>
		<a href="/admin/sezioneCuochi">sezione cuochi</a>

	</div>
	<div>
		<a href="admin/sezioneRicette">sezione ricette</a>

	</div>
	<div>
		<a href="admin/sezioneIngredienti">sezione ingredinti</a>

	</div>
	<div>
		<a href="cuoco/ingredienti">sezione dedicata agli ingredienti</a>

	</div>
	<div>
		<a href="cuoco/AggiornaRicette">aggiorna ricetta</a>

	</div>
	<div>
		<a href="cuoco/cancellaRicetta">caneclla Ricetta</a>

	</div>
</body>

</html>