<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile2.css" />
</head>

<body>
	<header>
	
	</header>
	<h1>SiwFood</h1>
	
	<div>
		<a href="generico/menu">menuuuuuuuuu</a>

	</div>
	<div>
		<a href="cuoco/aggiungiRicetta">nuova ricetta</a>

	</div>
	<div>
		<a href="cuoco/aggiungiIngredienteRicetta">aggiungi ingrediente a ricetta</a>

	</div>
	<div>
		<a href="cuoco/ingredienti">sezione dedicata agli ingredienti</a>

	</div>
	<div>
		<a href="cuoco/AggiornaRicette">aggiorna ricetta</a>

	</div>
	<div>
		<a href="cuoco/cancellaRicetta">caneclla Ricetta</a>

	</div>
</body>

</html>