<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Menu</title>
<link rel="stylesheet" href="/css/stileSezioneCuochi.css" />
</head>
<body>
<header>
<div class="header-links3">
            
           <a href="/logout"> Logout</a>
        </div>
</header>
	<div class="cheflogo">
        <img src="/images/logochef.png" alt="Logo Chef">
    </div>
	<div th:if="${cuochi==null || cuochi.isEmpty()}">Non ci sono ricette nel sistema</div>
	<ul>
		<li th:each="cuoco : ${cuochi}">
			<a th:href="@{'/generico/cuoco' + '/' + ${cuoco.id}}" th:text="${cuoco.nome} ">cuoco)</a>
			<a th:href="@{'/admin/aggiornaCuoco/' + ${cuoco.id}}">
				<button type="button">Modifica</button>
			</a>
			<a th:href="@{'/admin/cancellaCuoco/' + ${cuoco.id}}">
				<button type="button">Cancella</button>
			</a>
		</li>
		<a th:href="@{/admin/aggiungiCuoco}">
				<button type="button">Aggiungi</button>
			</a>
	</ul>
</body>
</html>