<!DOCTYPE html>
<html>
<head>
<title>SezioneIngredienti</title>
<link rel="stylesheet" href="/css/stileSezioneIngredienti.css" />
</head>
<body>
<header>
<div class="immagine">
	<a href="/"> <img src="/images/logonero2.png" alt="Logo"></a>
	</div>
	  <div class="header-links">
            <a href="/">Home</a>
            <a href="/logout"> Logout</a>
          
        </div>
</header>
	<div class="ingrelogo">
        <img src="/images/logoingrediente.png" alt="Logo Chef">
    </div>
	
	<ul>
	<li th:if="${ingredienti==null || ingredienti.isEmpty()}">Non ci sono ingredienti nel sistema </li>
		<li th:each="ingrediente : ${ingredienti}">
		<a th:href="@{'/cuoco/ingrediente' + '/' + ${ingrediente.id}}" th:text="${ingrediente.nome} ">cuoco)</a>
			<a th:href="@{'/admin/aggiornaIngrediente/' + ${ingrediente.id}}">
				<button type="button">Modifica</button>
			</a>
			<a th:href="@{'/admin/cancellaIngrediente/' + ${ingrediente.id}}">
				<button type="button">Cancella</button>
			</a>
		</li>
		<a th:href="@{/admin/aggiungiIngrediente}">
				<button type="button">Aggiungi</button>
			</a>
	</ul>
</body>
</html>