body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/ricette.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

header {
     background-color:white; /* Sfondo nero traslucido */
            color: white; /* Testo bianco per contrastare il background nero */
            height: 1.3em; /* Aumenta l'altezza dell'header */
            margin-bottom: 0.5em;
            padding: 1.3em; /* Aumenta il padding per un aspetto più grande */
            text-align: right; 
            display: flex;
            align-items: center;
            justify-content: space-between; /* Distribuisce lo spazio tra gli elementi */
        }

        .header-links {
            display: flex;
            gap: 6em; /* Spazio tra i link */
            margin-left: 77em;
            font-family: 'Dmsans', sans-serif; /* Cambia il font dei link */
            font-style: italic;
        }
   

        header a { 
            text-decoration: none; 
            color: rgb(0, 0, 0); /* Cambia il colore del testo dei link per adattarsi al nuovo background */
            font-size: 3em; /* Puoi modificare la dimensione del font se necessario */
            font-size: 1.2em; /* Modifica la dimensione del font dei link */
        }
        .header-links a:hover {
    color: red;
}


h1 {
    text-align: left;
    margin-top: 20px;
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 2; /* Aggiunto 0 margin top e 20px margin bottom */
    max-width: 600px;
}

li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}
