body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background: none;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/sfondochef.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
    opacity: 0.7;
    z-index: -1;
}

header {
     background-color:white; /* Sfondo nero traslucido */
            color: white; /* Testo bianco per contrastare il background nero */
            height: 1.3em; /* Aumenta l'altezza dell'header */
            margin-bottom: 0.5em;
            padding: 1.3em; /* Aumenta il padding per un aspetto più grande */
            text-align: right; 
            display: flex;
            align-items: center;
            justify-content: space-between; /* Distribuisce lo spazio tra gli elementi */
            position: relative;
        }
        .immagine {
    position: absolute;
    top: -8;
    left: -55%;
    overflow: hidden; /* Assicura che l'immagine non fuoriesca dai bordi dell'header */
}

.immagine img {
    max-width: 18%; /* Imposta una larghezza massima, ad esempio 100px */
    height: auto; /* Lascia che l'altezza si adatti alla larghezza mantenendo le proporzioni */
}
.header-links {
            display: flex;
            gap: 6em; /* Spazio tra i link */
            margin-left: 77em;
            font-family: 'Forum', sans-serif; /* Cambia il font dei link */
            font-style: italic;
        }


.cheflogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Altezza della sezione logo */
    margin-bottom: 1em; /* Margine inferiore */
}

.cheflogo img {
    max-width: 180px; /* Imposta una larghezza massima per l'immagine del logo */
    height: auto; /* Mantiene le proporzioni dell'immagine */
}


.img1 {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%; /* Altezza della sezione logo */
    margin-bottom: -10em; /* Margine inferiore */
    margin-left: 2em;
}

.img1 img {
    max-width: 100%; /* Imposta una larghezza massima per l'immagine del logo */
    height: auto; /* Mantiene le proporzioni dell'immagine */
}
label.label1{
	position:absolute;
	text-align: center;
	margin-top: 0%; /* Allinea il titolo al centro */
    margin-left: 41%; /* Margine superiore */
    color: #ffffff; /* Testo bianco */
    font-family: 'Times New Roman', Times, serif; /* Font personalizzato */
    font-size: 2.5em; /* Dimens*/
}
label.label2{
	position:absolute;
	text-align: center; /* Allinea il titolo al centro */
    margin-top:20%; /* Margine superiore */
    margin-left: 41%;
    color: #ffffff; /* Testo bianco */
    font-family: 'Times New Roman', Times, serif; /* Font personalizzato */
    font-size: 2.5em; /* Dimens*/
}
label.label3{
	position:absolute;
	text-align: center; /* Allinea il titolo al centro */
    margin-top:10%; /* Margine superiore */
    margin-left: 38.5%;
    color: #ffffff; /* Testo bianco */
    font-family: 'Times New Roman', Times, serif; /* Font personalizzato */
    font-size: 2.5em; /* Dimens*/
}
h1 {
    text-align: center; /* Allinea il titolo al centro */
    margin-top: 20px; /* Margine superiore */
    color: #ffffff; /* Testo bianco */
    font-family: 'Times New Roman', Times, serif; /* Font personalizzato */
    font-size: 2.5em; /* Dimensione del font */
}
h2 {
    text-align: center; /* Allinea il titolo al centro */
    margin-top: 20px; /* Margine superiore */
    color:  #007bff;; /* Testo bianco */
    font-family: 'Times New Roman', Times, serif; /* Font personalizzato */
    font-size: 2.5em; /* Dimensione del font */
    color: #007bff; /* Colore interno del testo (blu) */
    text-shadow: -1px -1px 0 #000,  
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
}
ul {
    list-style-type: none; /* Rimuove i punti elenco */
    padding: 0; /* Padding interno */
    margin: 20px auto; /* Margini automatici sopra e sotto, centrato orizzontalmente */
    max-width: 600px; /* Larghezza massima dell'elenco */
}

li {
    background-color: rgba(255, 255, 255, 0.8); /* Sfondo bianco traslucido */
    padding: 15px; /* Padding interno */
    margin-bottom: 10px; /* Margine inferiore */
    border-radius: 5px; /* Bordo arrotondato */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra */
}



button {
    background-color: #007bff; /* Colore di sfondo del bottone */
    color: white; /* Colore del testo del bottone */
    border: none; /* Rimuove il bordo */
    padding: 10px 20px; /* Padding interno */
    border-radius: 5px; /* Bordo arrotondato */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s ease; /* Transizione del colore di sfondo */
}

button:hover {
    background-color: #0056b3; /* Cambia il colore di sfondo al passaggio del mouse */
}
