<!DOCTYPE html>
<html>

<head>
	<title>
		Nuova Ricetta
	</title>
	<link rel="stylesheet" href="/css/stilericetta.css" />
</head>

<body>
	
	
	<h1>Aggiungi ricetta</h1>
	<form th:action="@{/cuoco/nuovaRicetta}" method="POST" th:object="${ricetta}">
	<ul><li>
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		
		<div>
			<label>Nome:</label> 
			<span><input type="text" th:field="${ricetta.nome}" /></span>
		    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
		    </span>
		</div>
	</li><li>
		<div>
			<label>Descrizione:</label> <span><input type="text" th:field="${ricetta.descrizione}" /></span>
		    <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">
		    </span>
		</div>
	</li><li>
		<div>
			<label>URL immagine:</label> <span><input type="text" th:field="${ricetta.immagine}" /></span>
			<span th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}">
		    </span>
		</div>
		</li><li>
		<div>
			<label>Scegli cuoco:</label> 
            <div th:each="cuoco : ${cuochi}">
                <label>
                    <input type="radio" th:field="${ricetta.cuoco}" th:value="${cuoco.id}"/> 
                    <span th:text="${cuoco.nome}"></span>
                </label>
            </div>
			</span>
		    
		    
		</div>
		</li><li><div>
			<span><button type="submit">Conferma</button></span>
		</div>
		</li>
		</ul>
	</form>
</body>

</html>