<!DOCTYPE html>
<html>

<head>
	<title>
		Nuova Ricetta
	</title>
	<link rel="stylesheet" href="/css/stilericetta.css" />
</head>

<body>
	<header>
	<div class="immagine">
	<a href="/"> <img src="/images/logonero2.png" alt="Logo"></a>
	</div>
		<div class="header-links">
           <a href="/">Home</a>
            
           <a href="/logout"> Logout</a>
        </div>
	</header>
	
	<h1>Aggiungi ricetta</h1>
	<form th:action="@{/cuoco/nuovaRicetta}" method="POST" th:object="${ricetta}" enctype="multipart/form-data">
	<ul><li>
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		
		<div>
			<label>Nome:</label> 
			<span><input type="text" th:field="${ricetta.nome}" /></span>
		    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
		    </span>
		</div>
	</li><li>
		<div>
			<label>Descrizione:</label> <span><input type="text" th:field="${ricetta.descrizione}" /></span>
		    <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">
		    </span>
		</div>
	</li><li>
		<div>
		
		<label>Immagine:</label>
                    <input type="file"  name="imageFile" accept="image/*" required />
                
	
		</div></li>
		<li><div>
			<span><button type="submit">Conferma</button></span>
		</div>
		</li>
		</ul>
	</form>
</body>

</html>