<!DOCTYPE html>
<html>

<head>
	<title>
		Nuova Ricetta
	</title>
	<link rel="stylesheet" href="/css/stileSezioneIngredienti.css" />
</head>

<body>
	
	
	<h1 class="h1-ingre">Aggiungi Quantita</h1>
	<form th:action="@{/cuoco/aggiungiIngredienteRicetta/{ricettaId}/{ingredienteId}(ricettaId=${ricetta.id}, ingredienteId=${ingrediente.id})}" method="POST" th:object="${ingredientePerRicetta}">
  		<ul><li class="li-ingre">
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		
		<div>
			<label>Aggiungi Qunatita:</label> 
			<span><input type="text" th:field="${ingredientePerRicetta.quantita}" /></span>
		    <span th:if="${#fields.hasErrors('quantita')}" th:errors="*{quantita}">
		    </span>
		</div>
		</li><li>
	
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
		</li></ul>
	</form>
</body>

</html>