<!DOCTYPE html>
<html>

<head>
	<title>
		Nuova Ricetta
	</title>
	<link rel="stylesheet" href="/css/stilericetta.css" />
</head>

<body>
	<header>
	<div class="immagine">
	<a href="/"> <img src="/images/logonero2.png" alt="Logo"></a>
	</div>
		<div class="header-links">
           <a href="/">Home</a>
           <a href="/logout"> Logout</a>
        </div>
	</header>
	
	<h1>Aggiorna Ricetta</h1>
	<div th:if="${ricetta}">
    <h1 th:text="${ricetta.nome}"> nome ricett</h1>
		
	<form th:action="@{/cuoco/aggiornaRicetta/{ricettaid}(ricettaid=${ricetta.id})}" method="POST" th:object="${ricetta}">
	<ul><li>
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		

		<div>
			<label>descizione:</label> <span><input type="text" name="nuovaDescrizione" placeholder="Nuova Descrizione" th:value="${ricetta.descrizione}" /></span>
		    <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">
		    </span>
		</div>
	</li><li>
		<div>
			<label>URL immagine:</label> <span><input type="text" name="nuovaImmagine" placeholder="Nuova immagine" th:value="${ricetta.immagine}" /></span>
		</div>
	</li><li>
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
		</li>
		</ul>
	</form>
</body>

</html>