<!DOCTYPE html>
<html>

<head>
	<title>
		Nuova Ricetta
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	
	
	<h1>Aggiorna Ricetta</h1>
	<div th:if="${ricetta}">
    <h1 th:text="${ricetta.nome}"> nome ricett</h1>
		
	<form th:action="@{/cuoco/aggiornaRicetta/{ricettaid}(ricettaid=${ricetta.id})}" method="POST" th:object="${ricetta}">
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		

		<div>
			<label>descizione:</label> <span><input type="text" name="nuovaDescrizione" placeholder="Nuova Descrizione" th:value="${ricetta.descrizione}" /></span>
		    <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">
		    </span>
		</div>

		<div>
			<label>URL immagine:</label> <span><input type="text" name="nuovaImmagine" placeholder="Nuova immagine" th:value="${ricetta.immagine}" /></span>
		</div>
	
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>