<!DOCTYPE html>
<html>
<head>
<title>Cuoco</title>
<link rel="stylesheet" href="/css/stileSezioneCuochi.css" />
</head>
<body>
<header>
	<div class="immagine">
	<a href="/"> <img src="/images/logonero2.png" alt="Logo"></a>
	</div>
	  <div class="header-links">
            <a href="/">Home</a>
            <a href="/login">Login</a>
          
        </div>
</header>
  <div th:if="${cuoco}">
   <label class="label1">Nome:  <split th:text="${cuoco.nome}"> nome cuoco</split></label>
	 </div>
    <label class="label2">Anno: <span th:text="'(' + ${cuoco.year} + ')'">anno</span></label>
    </div>  
 </div>
    <label class="label3">Cognome: <span th:text="'(' + ${cuoco.cognome} + ')'">anno</span></label>
    </div>
            <img th:src="'data:image/jpeg;base64,' + ${cuoco.immagine}" alt="Immagine Azienda">
    
    <div th:unless="${cuoco}">Non ess</div>
</body>
</html>