<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile2.css" />
</head>

<body>
	<header>
		<div class="header-links3">
           <a href="cuoco/aggiungiRicetta">Nuova Ricetta</a>
            <a href="cuoco/AggiornaRicette">Aggiorna Ricetta</a>
           <a href="cuoco/cancellaRicetta">Cancella Ricetta</a>
           <a href="logout"> Logout</a>
        </div>
	</header>
	<div class="main-section">
        <div class="centered-photo">
            <img src="/images/logonero.png" alt="Descrizione della foto">
        </div>
    </div>
	
	
</body>

</html>