<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile2.css" />
</head>

<body>
	<header>
		<div class="header-links4">
            <a href="/cuoco/visualizzaIngrediente">Visualizza Ingredienti</a>
            <a href="/cuoco/aggiungiIngrediente">Aggiungi Ingredienti</a>
           <a href="/cuoco/aggiungiIngredienteRicetta">Aggiungi Ingrediente a Ricetta</a>
           <a href="/logout"> Logout</a>
        </div>
	</header>
	<div class="main-section">
        <div class="centered-photo">
            <img src="/images/logonero.png" alt="Descrizione della foto">
        </div>
    </div>
	
	
</body>

</html>